.flex-wrapper {
  overflow: hidden;
  display: flex;
  flex: 1 100%;

  &--spaceBetween {
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &--columnSmall {
    flex-direction: column;

    @mixin atLarge {
      flex-direction: row;
    }
  }
}

/* &--medium {
  max-width: 976px;
} */
/* &--narrow {
  max-width: 470px;
}

&--no-padding-until-medium {
  padding-left: 0;
  padding-right: 0;

  @mixin atMedium {
    padding-left: 18px;
    padding-right: 18px;
  }
}

&--no-padding-until-large {
  padding-left: 0;
  padding-right: 0;

  @mixin atLarge {
    padding-left: 18px;
    padding-right: 18px;
  }
}


&--b-margin {
  margin-bottom: 1rem;

  @mixin atSmall {
    margin-bottom: 3.875rem;
  }
} */