.flex-wrapper {
  display: flex;
  flex: 1 1 100%;
  &--spaceBetween {
    justify-content: space-between;
    flex-flow: row wrap;
  }
  &--column {
    flex-direction: column;
  }
  &--columnSmall {
    flex-direction: column;
    @mixin atLarge {
      flex-direction: row;
    }
  }
}